.popup {
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    pointer-events: none;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 181px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}


.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.popup__image {
  max-width: 100%;
  object-fit: cover;
}

.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.popup__form {
  margin-top: 27px;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 32px;
}

.popup_is-opened {
  display: flex;
  visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -39px;
  right: -37px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__button {
  width: 100%;
  height: 43px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  flex: 1;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 25px;
  border: none;
  /*margin-top: 48px;*/
}

.popup__button_type_cancel {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.8;
}

.popup__error {
  color: red;
  font-size: 12px;
  display: block;
  height: 14px;
}

.popup__error_visible {
  opacity: 1;
}

.popup__save-button_disabled {
  background-color: #e5e5e5;
  color: #b8b8b8;
  border: none;
  cursor: default;
  pointer-events: none;
}

.popup__button_disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

#confirm-popup .popup__button {
  width: auto;
  flex: 1;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-top: 0;
}

#confirm-popup .popup__button:hover {
  opacity: 0.8;
}

#confirm-popup .popup__button[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
}

#confirm-popup .popup__button_type_cancel {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  width: 173px;
  border-radius: 22px;
}

@media screen and (max-width: 544px) {
  .popup {
    bottom: 112px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    height: 46px;
  }

  .popup__close {
    right: 7px;
    top: -30px;
    width: 20px;
    height: 20px;
  }

  .popup__content {
    width: 100%;
    max-width: calc(100% - 19px * 2);
    margin-top: 8px;
    padding: 25px 22px;
  }

  .popup__form {
    margin-top: 53px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__content_content_image {
    max-width: 75vw;
    padding: 0;
  }
}
